<% include ../partials/header %>
<div class="mdl-layout--fixed-header mdl-layout mdl-js-layout">
  <% include ../partials/headerbar.ejs %>
  <% include ../partials/navbar %>
  <main class="mdl-layout__content dashboard-body">
    <!-- Render Status Update Here -->
    <div class="top-bar">
      <% if(lastStatus) { %> 
        <div class="status-date">
          <span id="statusUpdateDate"><%= lastStatus.createdAt.toLocaleDateString() %></span>
          <span id="statusUpdateTime"><%= lastStatus.createdAt.toLocaleTimeString() %></span>
        </div>
        <div id="statusUpdateContent">
          <span style="color: lightgreen;">Last Update</span>
          <span id="statusContent" style="color: white;"><%= lastStatus.statusContent %></span>
        </div>
      <% } %>
    </div>
    <!-- This is for Snackbar; Displays when User Updates status -->
    <div id="demo-snackbar-example" class="mdl-js-snackbar mdl-snackbar">
      <div class="mdl-snackbar__text"></div>
      <button class="mdl-snackbar__action" type="button"></button>
    </div>
    <!-- Render task card partial dynamically here -->
    <div class="recent-tasks" id="recent-tasks-body">
      <% if(recentTasks) { %>
        <% recentTasks.forEach(task => { %>
          <% include ../partials/taskcard %>
        <% }) %>
      <% } %>
    </div>
    <div class="status-widget">
      <!-- This is where the Status Update Box Goes -->
      <% include ../partials/dashboard/statusUpdateWidget %>
      <% include ../partials/dashboard/newTaskWidget %>
    </div>
   
  </main>
  <% include ../partials/misc/dialog %> 
</div>
<% include ../partials/footer %>
