<% include ../partials/header %>
<div class="mdl-layout--fixed-header mdl-layout mdl-js-layout">
    <% include ../partials/headerbar %>
    <% include ../partials/navbar %>
    <main class="mdl-layout__content dashboard-body">

    </main>
</div>
<% include ../partials/footer %>