<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .main {
            height: 500vh;
        }
    </style>
</head>
<body>
    <div class="main">
        <h1>Hello</h1>
    </div>
</body>
<script>
    window.onscroll = (e) => {
        console.log("Hi")
    }
</script>
</html>