<div class="mdl-layout__drawer mdl-color--primary-dark">
    <span class="mdl-layout-title">Menu</span>
    <nav class="mdl-navigation">
        <% routes.forEach(route => { %>
            <% if(route.name === activeRoute) { %>
                <a class="mdl-color-text--black mdl-navigation__link" href="<%= route.url %>"><%= route.name %></a>
            <% } else { %>
                <a class="mdl-color-text--white mdl-navigation__link" href="<%= route.url %>"><%= route.name %></a>
            <% } %>
        <% }); %>
    </nav>
</div>