<div class="status-card mdl-card mdl-shadow--16dp">
    <div class="mdl-card--expand mdl-card__title mdl-card--border">
        <h5>Update Your Status</h5>
    </div>
    <form method="POST" action="/post/status">
        <div class="status-card mdl-textfield mdl-js-textfield">
        <textarea class="mdl-textfield__input" maxlength="250" rows="4" type="text" placeholder="What's new?" id="statusUpdateBox"></textarea>
        </div>
    </form>
    <div class="action-buttons mdl-card__actions">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--red-100" onclick="clearStatus()">Clear</button>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--orange-100" onclick="postStatus()" id="post-status-button">Submit</button>
    </div>
</div>