<div class="dashboard-main">
    <div class="status-card mdl-card mdl-shadow--16dp mr-4 mdl-color--deep-orange-300">
        <div class="mdl-card__menu">
        </div>
        <div class="mdl-card--expand mdl-card__title mdl-card--border">
            <h4>Update Your Status</h4>
        </div>
        <form class="dashboard-status-form" method="POST" action="/post/status">
            <div class="mdl-textfield mdl-js-textfield">
                <textarea class="status-textarea mdl-textfield__input" maxlength="250"  rows="4" type="text" placeholder="What's new?" id="status"></textarea>
            </div>
        </form>
        <div class="action-buttons mdl-card__actions">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--red-100" onclick="clearStatus()">Clear</button>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--orange-100" onclick="postStatus()">Submit</button>
        </div>
    </div>
    <div class="recent-tasks-sidebar ml-4" id="task-sidebar">
        <% if(recentTasks) { %>
        <% recentTasks.forEach(task => { %>
            <div class="task-card mdl-card mdl-shadow--16dp">
                <div class="mdl-card__menu">
                    <button class="mdl-button mdl-js-button mdl-button--raised" onclick="deleteTask(event)" id="delete-<%=task.id%>">DELETE</button>
                    <button class="mdl-button mdl-js-button mdl-button--raised" onclick="completeTask(event)" id="complete-<%=task.id%>">COMPLETE</button>
                </div>
                <div class="mdl-card__title mt-4">
                    <h5><%= task.title %></h5>
                </div>
                <div class="mdl-card__supporting-text">
                    <p><%= task.description %></p>
                </div>
            </div>
        <% }); } else {  %>
            <div class="task-card mdl-card mdl-shadow--16dp">
                <div class="mdl-card__title">
                    <h3>You have no tasks.</h3>
                </div>
            </div>
        <% } %>
    </div>
</div>
