<% include partials/header %>
<div class="mdl-layout--fixed-header mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header mdl-color--blue">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Welcome <%= firstName %> <%= lastName %>!</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
    </div>
  </header>
  <div class="mdl-layout__drawer mdl-color--primary-dark">
    <span class="mdl-layout-title">Menu</span>
    <nav class="mdl-navigation">
      <a class="mdl-color-text--white mdl-navigation__link" href="/dashboard">Dashboard</a>
      <a class="mdl-color-text--white mdl-navigation__link" href="/blog">Blog</a>
      <a class="mdl-color-text--white mdl-navigation__link" href="/settings">Settings</a>
      <a class="mdl-color-text--white mdl-navigation__link" href="/logout">Logout</a>
    </nav>
  </div>
  <main class="mdl-layout__content dashboard-body">
    <% include partials/dashboard/main %>
    <% include partials/dashboard/status %>
    <% include partials/misc/dialog %>
  </main>
</div>
<script src="/scripts/index.js"></script>
<% include partials/footer %>
