:root {
  --mdl-blue: #42A5F5;
}
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #534B62;
}
h1 {
    margin: 0;
    padding: 0;
}
.user-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 30%;
}
.icons {
    padding: 5px;
    font-size: 32px;
}
.my-card.mdl-card {
    width: 100%;
}

.dashboard-body {
    background: linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.1)
      ), url('/assets/beach.jpg') no-repeat center center fixed;
    background-size: cover;
}

.cards {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}
.mdl-layout__drawer {
  border-right: 0 !important;
}
@media (max-width: 1200px) {
  .cards {
    margin-top: 0;
    flex-direction: column;
    align-items: center;
  }
  .welcome-card, .profile-card {
    width: 100% !important;
    margin: 0 !important;
  }
}
.welcome-card.mdl-card {
    width: 50%;
    height: 400px;
}

.profile-card.mdl-card {
    width: 30%;
    height: 400px;
}

.welcome-card > .mdl-card__title {
    background: url('/assets/walk.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 70%;
    color: white;
}

.profile-card > .mdl-card__title {
    background: url('/assets/book.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 70%;
    color: white;
}
.my-dialog.mdl-dialog {
    width: 60%;
    margin: 0 auto;
}
.mdl-dialog__content {

}

.task-form > div {
    width: 100%;
}

/* Dashboard Main CSS */

.dashboard-main {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.status-card.mdl-card {
    width: 50%;
    height: 80%;
    background: url('/assets/beachbg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 70%;
    background-attachment: fixed;
}

.action-buttons {
    display: flex;
    justify-content: flex-end;
}

.dashboard-status-form {
    text-align: center;
}
.mdl-textfield  {
    width: 95% !important;
}
.recent-tasks-sidebar {
    width: 30%;
}
.task-card.mdl-card {
    width: 100%;
}
.task-card {
  word-wrap: break-word;
}
.task-card > .mdl-card__title {
  color: black !important;
}
.sidebar-link {
  color: black !important;
}
#status {
  resize: none;
}
@media (max-width: 1200px) {
  .dashboard-main {
    margin-top: 0;
  }
  .status-card, .recent-tasks-sidebar {
    margin: 0 !important;
  }
  .status-card {
    width: 60% !important;
  }
  .recent-tasks-sidebar {
    width: 40% !important;
    height: 100%;
  }
}

@media (max-width: 900px) {
  .dashboard-main {
    flex-direction: column-reverse;
  }
  .status-card, .recent-tasks-sidebar {
    width: 100% !important;
  }
}
