:root {
  --mdl-blue: #42A5F5;
}
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #534B62;
}
h1 {
    margin: 0;
    padding: 0;
}
.user-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 30%;
}

.recover.mdl-textfield {
  width: 100% !important;
}
.login-form .mdl-textfield__label {
  color: orange !important;
}
.login-form .mdl-textfield__input {
  border-bottom: 2px solid orange !important;
}
.login-form .mdl-textfield {
  width: 100% !important;
}
.icons {
    padding: 5px;
    font-size: 45px;
}
#fb {
  color: #4267B2;
  cursor: pointer;
}
#fb:hover {
  color: #7590C7;
  transition: color .8s;
}
#google {
  color: #DB4437;
  cursor: pointer;
}
#google:hover {
  color: #E4776D;
  transition: color .8s;
}
#github {
  color: #211F1F;
  cursor: pointer;
}
#github:hover {
  color: #494747;
  transition: color .8s;
}

.form-group > input {
  height: 35px;
}

.my-card.mdl-card {
    width: 100%;
}

.dashboard-body {
    background: linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.1)
      ), url('/assets/beach.jpg') no-repeat center center fixed;
    background-size: cover;
}

.cards {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}
.mdl-layout__drawer {
  border-right: 0 !important;
}
@media (max-width: 1200px) {
  
}
.welcome-card.mdl-card {
    width: 50%;
    height: 400px;
}

.profile-card.mdl-card {
    width: 30%;
    height: 400px;
}

.welcome-card > .mdl-card__title {
    background: url('/assets/walk.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 70%;
    color: white;
}

.profile-card > .mdl-card__title {
    background: url('/assets/book.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 70%;
    color: white;
}
.my-dialog.mdl-dialog {
    width: 60%;
    margin: 0 auto;
}
.task-form > div {
    width: 100%;
}

/* Dashboard Main CSS */

.dashboard-main {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.status-card.mdl-card {
    width: 50%;
    height: 80%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 70%;
    background-attachment: fixed;
}

.action-buttons {
    display: flex;
    justify-content: flex-end;
}

.dashboard-status-form {
    text-align: center;
}
.mdl-textfield  {
    width: 95% !important;
}
.recent-tasks-sidebar {
    width: 30%;
}
.sidebar-link {
  color: black !important;
}
#status {
  resize: none;
}

.task-list-ul {
  margin-top: 50px !important;
  width: 40%;
  background-color: gray;
  margin: 0 auto;
  padding: 20px !important;
}
.list-item {
  height: 100px !important;
}
.task-menu-bar {
  margin: 0 auto;
  width: 100%;
  background-color: white;
}
.settings {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 15px;
}

.recent-tasks {
  display: flex;
  width: 70%;
  margin: 0 auto;
}
.task-card.mdl-card {
  width: 100%;
}
.task-card > .mdl-card__supporting-text {
  min-height: 100px;
}
.task-card > .mdl-card__title {
  color: black !important;
  min-height: 150px;
  /* background: url('/assets/road.jpg');  */
  background-color: pink;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
}
@media (max-width: 1200px) {
  /*
  .dashboard-main {
    margin-top: 0;
  }
  .status-card, .recent-tasks-sidebar {
    margin: 0 !important;
  }
  .status-card {
    width: 60% !important;
  }
  .recent-tasks-sidebar {
    width: 40% !important;
    height: 100%;
  }
  */
  .cards {
    margin-top: 0;
    flex-direction: column;
    align-items: center;
  }
  .welcome-card, .profile-card {
    width: 100% !important;
    margin: 0 !important;
  }
  .user-form {
    width: 70%;
  }
  .recent-tasks {
    flex-direction: column;
  }
}

@media (max-width: 900px) {
  .dashboard-main {
    flex-direction: column-reverse;
  }
  .status-card, .recent-tasks-sidebar {
    width: 100% !important;
  }
}

@media (max-width: 700px) {
  .recent-tasks {
    width: 100%;
  }
}
